# Ignore all files by default
*

# Git
!.gitignore
!.gitconfig

# Config Directory
!.config/

# Window Manager (i3)
!.config/i3/
!.config/i3/**

# Status Bar (polybar)
!.config/polybar/
!.config/polybar/**

# Runner (rofi)
!.config/rofi/
!.config/rofi/**

# Terminal Emulator (alacritty)
!.config/alacritty/
!.config/alacritty/**

# Terminal Emulator (kitty)
!.config/kitty/
!.config/kitty/**

# Shell (zsh)
!.zshrc
!.zprofile

# Editor (nvim)
!.config/nvim/
!.config/nvim/**
.config/nvim/plugin/
