# Ignore all files by default
*

# Git
!.gitignore
!.gitconfig

# Root Directory
!.root/
!.root/**

# Local Data Directory
!.local/
!.local/share/

# Scripts
!.scripts/
!.scripts/**

# Images
!Pictures/
!Pictures/Wallpapers/
!Pictures/Wallpapers/desktop.png

# Fonts
!.local/share/fonts/
!.local/share/fonts/**
.local/share/fonts/**/.uuid

# Config Directory
!.config/

# X11 Resources
!.Xresources

# Window Manager (i3)
!.config/i3/
!.config/i3/**

# Compositor (picom)
!.config/picom.conf

# Status Bar (polybar)
!.config/polybar/
!.config/polybar/**

# Runner (rofi)
!.config/rofi/
!.config/rofi/**

# Terminal Emulator (alacritty)
!.config/alacritty/
!.config/alacritty/**

# Terminal Emulator (kitty)
!.config/kitty/
!.config/kitty/**

# Terminal Multiplexer (tmux)
!.tmux.conf

# Shell (zsh)
!.zshrc
!.zprofile

# Editor (nvim)
!.config/nvim/
!.config/nvim/**
