$white: #abb2bf;
$black: #1e222a;
$blackAlt: #282c34;
$grey: #42464e;
$lightGrey: #6f737b;
$green: #98c379;
$red: #e06c75;
$blue: #61afef;
$pink: #ff75a0;
$yellow: #e7c787;
$orange: #fca2aa;
$purple: #de98fd;
